*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build/
*.keystore
!debug.keystore
test-results/
build-artifacts/*.apk
MF650_2.3_Fota.zip
fota-analysis/extracted/
fota-analysis/adb/
fota-analysis/usb/
fota-analysis/web/
fota-analysis/binaries/
fota-analysis/diff/
